<section class="info">
	<h3><span class="icon icon_scissors"></span>Amalia Cardo</h3>
	<div>
	Sarta, Modellista, Stilista e roba fatta a mano<br/>
	Via del Rondinino 7<br/> 
	50100 Firenze - Italia<br/>
	</div>
</section>
<section class="contact">
	<h3>Contatti</h3>
	<div>
	Email: <a href="javascript:window.location.href = 'mailto:' + ['info','amaliacardo.it'].join('@')"">info at amaliacardo.it</a><br />
	Phone: <a href="callto:+393493803646">+39 (0) 55 00 00 00</a><br />
	Cell: <a href="callto:+393493803646">+39 349 38 03 646</a>
	</div>
</section>
<section class="social-container">
	{{>social}}
</section>
