<h3>Seguimi</h3>
<ul class="social clearfix">
	<li class="social-facebook"><a class="icon" href=""><span>Facebook</span></a></li>
	<li class="social-flickr"><a class="icon" href=""><span>Flickr</span></a></li>
	<li class="social-linkedin"><a class="icon" href=""><span>Linkedin</span></a></li>
	<li class="social-instagram"><a class="icon" href=""><span>Instagram</span></a></li>
</ul>