---
key: work
title: Abiti su misura - Sartoria Firenze
description: Abiti sartoriali su misura. Sviluppo cartamodelli di vecchi abiti | Firenze
link: abbigliamento
mywork: active
---


<div class="column--second">
	<div class="images">
		<img class="logo" src="images/logo.png" />
		<img class="site-bg" src="images/bg_site_x2.jpeg" />
	</div>
</div>

<div class="column--third">
	<a class="back" href="lavori-amalia-cardo.html"><span class="icon icon_arrow-left"></span>I miei lavori</a>
	<h1 class="work__title">Abbigliamento - Sartoria - Abiti su misura</h1>
	<h2 class="work__subtitle">Cappotti e abiti sartoriali. Se sei di Firenze e vuoi un vestito su misura prova a contattarmi! Se hai un vecchio abito al quale sei affezionato e vorresti averne uno uguale in colori e/o dettagli diversi, scrivimi!</h2>
	<div class="thumb-list">
		<a href="images/work/particolare-cappotto-loden-uomo-5_x2.jpg" title="Cappotto sartoriale uomo in tessuto loden">
			<img src="images/work/particolare-cappotto-loden-uomo-5_thumb.jpg" />
		</a>
		<a href="images/work/particolare-cappotto-loden-uomo-4_x2.jpg" title="Cappotto sartoriale uomo in tessuto loden">
			<img src="images/work/particolare-cappotto-loden-uomo-3_thumb.jpg" />
		</a>
		<a href="images/work/particolare-cappotto-loden-uomo-4_x2.jpg" title="Cappotto sartoriale uomo in tessuto loden">
			<img src="images/work/particolare-cappotto-loden-uomo-3_thumb.jpg" />
		</a>
		<a href="images/work/cappotto-loden-uomo-2_x2.jpg" title="Cappotto sartoriale uomo in tessuto loden">
			<img src="images/work/cappotto-loden-uomo-2_thumb.jpg" />
		</a>
		<a href="images/work/cappotto-sartoriale-100_lana(2)_x2.jpg" title="Cappotto sartoriale Donna">
			<img src="images/work/cappotto-sartoriale-100_lana(2)_thumb.jpg" />
		</a>
		<a href="images/work/cappotto-sartoriale-100_lana(1)_x2.jpg" title="Cappotto sartoriale Donna">
			<img src="images/work/cappotto-sartoriale-100_lana(1)_thumb.jpg" />
		</a>
		<a href="images/work/cappotto-sartoriale-100_lana(3)_x2.jpg" title="Cappotto sartoriale Donna">
			<img src="images/work/cappotto-sartoriale-100_lana(3)_thumb.jpg" />
		</a>
		<a href="images/work/cappotto-sartoriale-100_lana(4)_x2.jpg" title="Cappotto sartoriale Donna">
			<img src="images/work/cappotto-sartoriale-100_lana(4)_thumb.jpg" />
		</a>
		<a href="images/work/vestito-cerimonia-1_x2.jpg" title="Vestito cerimonia">
			<img src="images/work/vestito-cerimonia-1_thumb.jpg" />
		</a>
		<a href="images/work/vestito-cerimonia-2_x2.jpg" title="Vestito cerimonia">
			<img src="images/work/vestito-cerimonia-2_thumb.jpg" />
		</a>
		<a href="images/work/vestito-cerimonia-3_x2.jpg" title="Vestito cerimonia">
			<img src="images/work/vestito-cerimonia-3_thumb.jpg" />
		</a>
		<a href="images/work/gonna-di-taglio-asimmetrico-sartoriale-davanti_x2.jpg" title="Gonna di taglio assimetrico">
			<img src="images/work/gonna-di-taglio-asimmetrico-sartoriale-davanti_thumb.jpg" />
		</a>
		<a href="images/work/gonna-di-taglio-asimmetrico-sartoriale-dietro_x2.jpg" title="Gonna di taglio assimetrico">
			<img src="images/work/gonna-di-taglio-asimmetrico-sartoriale-dietro_thumb.jpg" />
		</a>
	</div>
</div>

<script src="js/work.min.js"></script>