---
key: about
title: Amalia Cardo Modellista, stilista, sarta.
description: Amalia Cardo Modellista, stilista e sarta.
link: home
whoiam: active
---

<div class="column--second">
	<div class="images">
		<img class="logo" src="images/logo.png" />
		<img class="site-bg" src="images/bg_site_x2.jpeg" />
	</div>
</div>

<div class="column--third">
	<div class="quote quote--little">
		Nasco in una piccola cittadina alle pendici del vesuvio dove creare abiti è il lavoro più comune.<br>
		Tante aziende vivono nell’artigianato e nel confezionamento di abbigliamento, così come mio padre, che gestisce una piccola azienda per il confezionamento di abiti premam prima, e maschere in un secondo momento.<br>
		Comincio a interessarmi guardando il lavoro in fabbrica di mio padre e tra un taglio e una cucitura mi appassiono alla sartoria, al disegno e alla moda.<br>Mi iscrivo all’istituto delle belle arti con qualifica in sezione moda e costume e in seguito all’accademia della moda di Napoli con il massimo dei voti.<br>Nel 2006 vinco una borsa di studio a Pisa per un corso come modellista CAD e mi specializzo nella modelleria riuscendo a lavorare in una piccola azienda di moda bambino.<br>Vengo selezionata per il reparto modelleria kids Guess dove per otto anni sono responsabile sviluppo dei capi di tutte le collezioni europee del noto marchio.<br>
		Ed ora, dopo svariati anni di industria, la decisione di tornare all’artigianato si è fatta viva. Ed eccomi, come mio padre, a creare e sviluppare i miei amati capi nella culla del rinascimento e della moda, Firenze.
	</div>
</div>

<script src="js/{{key}}.min.js"></script>