---
title: Home
description: This is the home page.
link: home
---

<div class="images">
	<img class="logo" src="images/logo_normal.jpg" />
	<img class="site-bg" src="images/bg_site_x2.jpeg" />
</div>

<div class="quote">
Non mi piace la moda<br />
Lo faccio solo per soldi
<span>Amalia Cardo</span>
</div>


<script src="js/index.min.js"></script>