---
key: work
title: Amalia Cardo Sarta Stilista Modellista Firenze | Lavori
description: I miei lavori - Amalia Cardo Sarta Stilista Modellista
link: home
mywork: active
---


<div class="column--second">
	<div class="images">
		<img class="logo" src="images/logo.png" />
		<img class="site-bg" src="images/bg_site_x2.jpeg" />
	</div>
</div>

<div class="column--third">
	<h1>I miei lavori</h1>
	<h2>Amalia Cardo</h2>
	<div class="work-category">
		<a href="abbigliamento-sartoria-firenze.html" >
			<img src="images/work/abbigliamento_sartoria-amalia-cardo_thumb.jpg" />
			<span>Abbigliamento</span>
		</a>
		<a href="scarpe-copri-tutore-piede-torto.html" >
			<img src="images/work/scarpine-copri-tutore-piede-torto_thumb.jpg" />
			<span>Scarpe copri tutore piede torto</span>
		</a>
		<a href="peluches-amalia-cardo-firenze.html" >
			<img src="images/work/peluches-amalia-cardo_thumb.jpg" />
			<span>Peluches</span>
		</a>
		<a href="oggettistica-amalia-cardo-firenze.html" >
			<img src="images/work/oggettistica-amalia-cardo-firenze_thumb.jpg" />
			<span>Oggettistica</span>
		</a>
	</div>
</div>

<script src="js/work.min.js"></script>