---
key: work
title: Oggetti creativi. Riciclo creativo. Firenze
description: Oggettistica. Bonsai di cartone, cactus di cartone. Riciclo creativo
link: home
mywork: active
---


<div class="column--second">
	<div class="images">
		<img class="logo" src="images/logo.png" />
		<img class="site-bg" src="images/bg_site_x2.jpeg" />
	</div>
</div>

<div class="column--third">
	<a class="back" href="lavori-amalia-cardo.html"><span class="icon icon_arrow-left"></span>I miei lavori</a>
	<h1 class="work__title">Oggettistica</h1>
	<div class="thumb-list">
		<a href="images/work/cactus-cappelletta-del-vescovo_x2.jpg" title="Cactus cappelletta del vescovo">
			<img src="images/work/cactus-cappelletta-del-vescovo_thumb.jpg" />
		</a>
		<a href="images/work/bonsai-cartone_x2.jpg" title="Bonsai di cartone">
			<img src="images/work/bonsai-cartone_thumb.jpg" />
		</a>
		<a href="images/work/albero-di-natale-in-cartone_x2.jpg" title="albero di natale in cartone">
			<img src="images/work/albero-di-natale-in-cartone_thumb.jpg" />
		</a>
	</div>
</div>

<script src="js/work.min.js"></script>