---
key: work
title: Peluches artigianali su misura | Firenze
description: Peluches artigianali.
link: home
mywork: active
---


<div class="column--second">
	<div class="images">
		<img class="logo" src="images/logo.png" />
		<img class="site-bg" src="images/bg_site_x2.jpeg" />
	</div>
</div>

<div class="column--third">
	<a class="back" href="lavori-amalia-cardo.html"><span class="icon icon_arrow-left"></span>I miei lavori</a>
	<h1 class="work__title">Peluches</h1>
	<div class="thumb-list">
		<a href="images/work/simon_s-cat-peluches-1_x2.jpg" title="Simon's cat Peluche">
			<img src="images/work/simon_s-cat-peluches-1_thumb.jpg" />
		</a>
		<a href="images/work/simon_s-cat-peluches-2_x2.jpg" title="Simon's cat Peluche">
			<img src="images/work/simon_s-cat-peluches-2_thumb.jpg" />
		</a>
		<a href="images/work/peluches-amalia-cardo_x2.jpg" title="Peluche gufo">
			<img src="images/work/peluches-amalia-cardo_thumb.jpg" />
		</a>
		<a href="images/work/peluches-amalia-cardo-1_x2.jpg" title="Peluche gufo">
			<img src="images/work/peluches-amalia-cardo-1_thumb.jpg" />
		</a>
		<a href="images/work/peluches-amalia-cardo-2_x2.jpg" title="Peluche gufo">
			<img src="images/work/peluches-amalia-cardo-2_thumb.jpg" />
		</a>
		<a href="images/work/scimmiotto-greenapes_x2.jpg" title="scimmiotto greenapes">
			<img src="images/work/scimmiotto-greenapes_thumb.jpg" />
		</a>
	</div>
</div>

<script src="js/work.min.js"></script>